body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-color: black;
    color:#818181;
}

.photos {
    margin:45;
}
.photos .stickyTitle {
    position: -webkit-sticky;
    position:sticky;
    width:100%;
    display: block;
    text-align: center;
    background-color: black;
    top:0;
}
.photos .stickyTitle h2 {
    color:#818181;
    font-size:50px;
}

.titleFirstPage {
    position:relative;
    text-align: center;
    color:white;
    margin: 0;
}
.titleFirstPage .centered {
    position:absolute;
    left:50%;
    top:50%;
    height:100%;
    transform: translate(-50%, -10%);
}
.titleFirstPage .centered h1{
    font-size: 100px;
    margin-bottom: 0;
}
.titleFirstPage .centered h2{
    font-size: 30px;
}
.photos p {
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    .photos .stickyTitle h2 {
        font-size: 40px;
    }
    .titleFirstPage .centered h1{
        font-size: 40px;
        transform: translateY(-50%);
    }
    .titleFirstPage .centered h2{
        font-size: 15px;
        transform: translateY(-350%);
    }
    .photos p{
        font-size: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
}